discord~=2.1.0
discord.py~=2.1.0
audioop-lts; python_version>='3.13'
parsedatetime>=2.6
dateparser>=1.0.0
python-dotenv
googlesearch-python
lxml
yt-dlp==2026.7.4
flask
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
